<div class="setting_item container">
    <h1 class="text-blue font-weight-bold text-center mt-3"> Add New User</h1>

    <div class="comapre_details comman_box mt-5 mb-5 ">
        <form [formGroup]="addUser">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-group"
                            [ngClass]="{'invalid-danger' : (submitted && f.name.errors)}">Name</label>
                        <input type="text" formControlName='name' class="form-control" placeholder="name">
                        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                            <div *ngIf="submitted && f.name.errors.required">Name is required.</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-group"
                            [ngClass]="{'invalid-danger' : (submitted && f.gender.errors)}">Gender</label>
                        <input type="text" formControlName='gender' class="form-control" placeholder="Gender">
                    </div>

                    <div class="form-group">
                        <label class="form-group"
                            [ngClass]="{'invalid-danger' : (submitted && f.password.errors)}">Password</label>
                        <input type="password" id='password' formControlName='password' class="form-control"
                            placeholder="password" required>
                        <div class="passauth" *ngIf='!showpass' (click)='shownewPass()'><img
                                src="assets/viewer.svg" alt=""></div>
                        <div class="passauth" *ngIf='showpass' (click)='shownewPass()'><img
                                src="assets/viewer2.svg" alt=""></div>

                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="submitted && f.password.errors.required">Password is required.</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">


                    <div class="form-group">
                        <label class="form-group"
                            [ngClass]="{'invalid-danger' : (submitted && f.about.errors)}">About</label>
                        <input type="text" formControlName='about' class="form-control" placeholder="About">
                    </div>

                    <div class="form-group">
                        <label class="form-group"
                            [ngClass]="{'invalid-danger' : (submitted && f.email.errors)}">Email</label>
                        <input type="text" formControlName='email' class="form-control" placeholder="email" required>
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="submitted && f.email.errors.required">Email is required.</div>
                            <div *ngIf="submitted && f.email.errors.email">Email is not valid.</div>
                        </div>
                    </div>
                    <div class="mb-1"><button (click)='addBlock()' class="btn btn-primary">Add
                            Strength</button>
                    </div>
                    <div class="form-group" formArrayName='strengths'
                        *ngFor="let X of addUser['controls'].strengths['controls']; let ix=index">
                        <div class="" [formGroupName]="ix">
                            <div class="d-flex cross">
                                <label class="form-group"
                                    [ngClass]="{'invalid-danger' : (submitted && X.controls.strength.errors)}">Strength
                                </label>
                                <span class="" (click)='removeStrength(ix)'>x</span>
                            </div>

                            <input type="text" formControlName='strength' class="form-control" placeholder="Strength">
                        </div>
                    </div>


                </div>

            </div>
        </form>

    </div>
    <div class="d-flex justify-content-center m-2">
        <div><button class="btn btn-primary m-2" (click)="back()">Back</button></div>
        <div><button class="btn btn-primary m-2" type="submit" (click)="submit()">{{buttonName}}</button></div>
    </div>
</div>